@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg: #301e4e;
  --headline: #ffffff;
  --paragraph: #c9bae2;
  --cardBG: #463366;
  --cardText: #cabae2;
  --activeColor: #ff6e6c;
  /* --bg: #fff; */
  /* --headline: #000; */
  /* --paragraph: #301e4e; */
  /* --cardBG: #fff; */
  /* --cardText: #301e4e; */
  /* --activeColor: #ff6e6c; */
  --ff: 'Nunito', sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  font-family: var(--ff);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tabs__button:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: var(--activeColor);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.4s ease-in-out;
    -webkit-transition: visibility 0s, opacity 0.4s ease-in-out;
    -ms-transition: visibility 0s, opacity 0.4s ease-in-out;
}

.tabs__button.active::after {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.4s ease-in-out;
    -webkit-transition: visibility 0s, opacity 0.4s ease-in-out;
    -ms-transition: visibility 0s, opacity 0.4s ease-in-out;
}

